syntax on
filetype plugin indent on
" On pressing tab, insert 2 spaces
set expandtab
" Show existing tabl with 2 space width
set tabstop=2
set softtabstop=2
" When indent with '>' use 2 spaces width
set shiftwidth=2
inoremap jj <Esc>

set clipboard=unnamed
